// styles.scss
@use '@angular/material' as mat;

// Custom Snackbar Styles
.success-snackbar {
  background: #4caf50;
  color: white;
  
  .mat-simple-snackbar-action {
    color: white;
  }
}

.error-snackbar {
  background: #f44336;
  color: white;
  
  .mat-simple-snackbar-action {
    color: white;
  }
}

// Application font
* {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.mat-typography {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
