// filepath: /d:/Projects/Private/NoteBookKeeper/Client/NoteKeeper/src/app/authentication/register/register.component.scss
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe5b4; /* Warm background color */
}

.register-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffcc80; /* Warm card color */
}

.register-form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out; /* Ensure smooth transition */
}

button:hover {
    background-color: #ff8c00; /* Warm hover color */
}